<form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>

  <h2>PIN {{ pin | uppercase }}</h2>

  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="Personnummer" formControlName="pin" required [(ngModel)]="pin" />
      <!-- <mat-error *ngIf="registerForm.pin.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Initial Amount" formControlName="initialAmount" required>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="registerForm.pristine">
      Register
    </button>
  </div>
</form>
