<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Account Number: {{account.accountId}}</mat-card-title>
    <mat-card-subtitle>Current Balance: {{account.currentBalance | currency}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let transaction of account.transactions" [style.color]="transaction.description == 'Credit' ? 'green' : 'red'">
        <mat-icon mat-list-icon *ngIf="transaction.description === 'Credit'">add_circle</mat-icon>
        <mat-icon mat-list-icon *ngIf="transaction.description !== 'Credit'">remove_circle</mat-icon>
        <h4 *ngIf="transaction.description == 'Credit'"> C{{ transaction.amount | currency}}</h4>
        <h4 *ngIf="transaction.description != 'Credit'"> D{{ transaction.amount | currency}}</h4>
        <p mat-line> {{ transaction.transactionDate | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>monetization_on</mat-icon>
        <h4> B{{ account.currentBalance | currency}}</h4>
        <p mat-line> {{ currentDate| date: 'dd/MM/yyyy HH:mm:ss'}} </p>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3>Deposit / Withdraw:</h3>
    <mat-list>
      <mat-list-item>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Amount" value="0" [(ngModel)]="amount">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="amount === 0" (click)="deposit()">
      Deposit
    </button>
    <button mat-raised-button color="accent" [disabled]="amount === 0" (click)="withdraw()">
      Withdraw
    </button>
    <button mat-raised-button color="warn" (click)="delete()">
      Close Account
    </button>
  </mat-card-actions>
</mat-card>
